name: Python CI

on:
  pull_request:
    paths:
      - "api/**"
      - ".github/workflows/python-ci.yml"
      - ".secrets.baseline"
  push:
    branches: [main]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: "3.13"
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Ruff format check
        working-directory: api
        run: uvx ruff@0.14.7 format . --check

      - name: Ruff linting check
        working-directory: api
        run: uvx ruff@0.14.7 check .

      - name: Detect Secrets
        run: |
          git ls-files -z | xargs -0 uvx --from git+https://github.com/IBM/detect-secrets.git@0.13.1+ibm.64.dss \
            detect-secrets-hook --baseline .secrets.baseline
